# Intro to machine learning

In this tutorial we are going to go over the basics of machine learning.

by the end of this course you will know how to
1. Import data from a csv
2. split your data into a train and test sets
3. build a machine learning model
4. Use your model to predict some data
5. Evaluate how will your model is working

This tutorial is by no means comprehensive and will only skim the surface of each part of machine learning

If youw want more detail, you should check out the kaggle course that is tutorial was build off of that can be found [here](https://www.kaggle.com/learn/intro-to-machine-learning) 

so without any farther ado, lets begin

## Importing data

To build a machine learning model we are going to need data.

They way the models work is by taking in a bunch of data, then trying to find patterns based on that data

The dataset we are going to work with today contains various information about houses that were sold.

details on each field in the table can be found in the "Data fields" section of [this webpage](https://www.kaggle.com/competitions/home-data-for-ml-course/data)

to begin, lets import the pandas libary as its standard abbriviation: pd

In [1]:
import pandas as pd

now that we have pandas imported, lets use `pd.read_csv()` to create a pandas dataframe with all of our housing data in it

In [2]:
housing_data_filepath = 'housing_data.csv'
housing_data = pd.read_csv(housing_data_filepath)
housing_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

we can use `.describe()` on our new dataframe to gain more information on each column in the dataframe

In [3]:
housing_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

Now that we have our data in a dataframe, we need to seperate the values we want to predict (y) from the features we want to use to predict them (X)

In [4]:
Y = housing_data['SalePrice']
Y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

For sake of keeping this tutorial simple, we are going to choose 5 random features to build our model on. <br/>
In this case, I went with Lot Area, FullBath, BedroomAbvGr, KitchenAbvGr, and YearBuilt

However, when building our own models we want to choose our features carefully to have the best impact on our model. 

Try to think about what methods could we use to choose good features.
(Hint: What does correlation mean?)

In [5]:
housing_features = ['LotArea', 'FullBath', 'BedroomAbvGr', 'KitchenAbvGr', 'YearBuilt']

Now that we have selected our features, we are going to create a new dataframe that contains only the data for those features.

In [14]:
X = housing_data[housing_features]
X.head()

   LotArea  FullBath  BedroomAbvGr  KitchenAbvGr  YearBuilt
0     8450         2             3             1       2003
1     9600         2             3             1       1976
2    11250         2             3             1       2001
3     9550         1             3             1       1915
4    14260         2             4             1       2000

Now it is time to get to the good stuff: building our machine learning model.

to start, we are going to install scikit-learn which is a popular machine learning library.

In [8]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.11.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\wacbo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [9]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

## Building our model

The first thing we are going to want to do is split up our dataset into training and testing date.

The reason that we are doing this is because we can't use data that is used to train the model to also test the model.<br/>
If we did that, the model could just go into it the data it has already seen and pull out the right answer.<br/>
To figure out how well our model is working, we want to use data that the model has not already seen to test it.

In [10]:
train_X, test_X, train_y, test_y = train_test_split(X, Y, random_state=0)

Next we decide on a model to use. In this case we are going to use a Decision Tree.<br/>
While I won't go into the details how they work, I would encourage you to [read more about them](https://towardsdatascience.com/decision-trees-in-machine-learning-641b9c4e8052)

As a data scientist, you will need to learn about many machine learning models and the Pros/Cons.

In [11]:
housing_model = DecisionTreeRegressor(random_state=1)

Now, we train our model using `model.fit(train_X, train_Y)`
<br/>

In [ ]:
housing_model.fit(train_X, train_y)

## Making Predictions

Now that our model has been create and trained, it is ready to make predictions.

using the `model.predict()` method on any set of x values will give the predictions for those sets of values

In [ ]:
test_predictions = housing_model.predict(test_X)
print(test_predictions)

[240000.         105000.         128666.66666667 137500.
  91500.          58500.         283463.          95000.
 556581.         286000.         164700.         150900.
 173000.         130000.         137000.          81000.
 220000.         126000.         125000.         114504.
  98000.         149000.         132500.         230000.
 187000.         265979.         177000.          92000.
 255000.         140000.         154300.         204000.
 129500.         202900.         335000.         245500.
 185850.         110000.         315000.         203000.
 139600.         134800.         203000.         196500.
 410000.         136500.         115000.         120000.
 244000.         176500.         177000.          94750.
 196000.         119000.         262000.          62383.
  58500.         252000.         154500.         120000.
 154500.         127500.         128900.         137000.
 230000.          81000.         144000.         611657.
 128000.         360000.         162000.          90000.
 134500.         318061.         139400.         279500.
 163000.          87000.         437154.         179900.
 125000.         135000.          78000.         112000.
 381000.         208500.         135000.         202500.
 198900.         163000.         188000.         160000.
 208900.         221000.         264561.         190000.
 173000.         135000.         154000.         145000.
 250000.         216500.         139400.         148000.
  76000.         335000.         301500.          87000.
 169990.          78000.          55000.         141000.
 268000.         177000.         172500.         148500.
 221000.         132000.         250000.         220000.
 126000.         140000.         162000.         150000.
 186500.         165000.         256300.         185000.
 133000.         179900.         220000.         140000.
 118911.         197900.         140000.         185000.
 187000.         208500.         107500.         179200.
 168000.         148000.         262500.         155000.
 235000.         178000.         181134.         163000.
 153900.         267000.         143000.         236250.
 369900.          87000.          87000.         381000.
 134900.         131000.         250580.         173000.
 135000.         178400.         241000.         128500.
 174000.         119500.         155000.         260400.
 183500.         172400.         141000.         149900.
 236500.         262000.         241500.         143250.
 116500.         117000.         100000.         130250.
 235000.         299800.         109900.         182000.
 235000.         154000.          92000.         193000.
 264561.         138000.         126000.         137000.
 307000.         147000.         125500.         149500.
  86000.         123000.         173000.          87450.
  91500.         213500.         119750.         149900.
 145000.         142600.         154500.         173000.
 270000.          58500.         158000.         236500.
  93500.         103000.         260000.         294000.
 190000.         211000.         155835.          83000.
 202500.         230000.          37900.         175500.
 167240.         232000.         173000.         287000.
 127000.         148000.          90000.         128666.66666667
 143250.         152000.         245500.         128000.
 124000.         107500.         153337.         294000.
  52500.         340000.         202900.         180000.
 187000.         176000.         103200.         173000.
 135000.         230000.         137500.         212000.
  55000.         184750.         233939.         178000.
  52500.         181000.         625000.         446261.
 165000.          95000.         139600.         160000.
 440000.         287090.         268000.          60000.
 131000.         295493.         178000.         165000.
  95000.         160000.         130000.         317000.
 211000.         108000.         354000.         220000.
 175500.         326000.          91500.         125000.
 206000.         152000.          91500.         270000.
 501837.          98000.          87000.          78000.
 182000.         115000.         180500.         221000.
 177000.         176000.         155000.         165000.
 100000.         128000.         202500.         176000.
 184000.         137000.         149500.         207500.
 176485.         175000.         109900.         167240.
 105000.          81000.         100000.         142000.
 336000.          82000.         167240.         178000.
 130000.         236500.         100000.         177000.
  87000.         239000.         120000.         440000.
 137500.         155000.         175500.         194500.
  96500.         179900.         179900.         111250.
 127000.         180000.         125000.         144900.
 184900.         157750.         128000.         317000.
 149000.         121500.         130000.         128666.66666667
 134900.         125000.         227000.         267000.
 170000.         149500.         164700.         372402.
 336000.         128666.66666667 209500.         242000.
 130500.         175500.         230000.         179900.
  58500.        ]

But how do we know that our predictions are correct? </br>

## Validating Our Model

Validation is the process of making sure that our model is giving us precise and accurate predictions.

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

TODO: Write about validaiton

In [ ]:
print("{} is the mean absolute error \n{} is the mean squared error".format(mean_absolute_error(test_y, test_predictions), mean_squared_error(test_y, test_predictions, squared=False)))

43799.0 is the mean absolute error
65796.90339847084 is the mean squared error

## Using other models

For our model we used a Decision Trees but there are many other kinds of models. Even ones better suited for this example.

I encourage you to look up some machine learning models, choose one you like, and see if it performs better or worse than the decision tree